@use '../../styles/_section_title' as g;
@use '../../styles/media_query' as mq;

.works_container {
  @include g.section-title('Works');

  .works_wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    position: relative;
    padding-top: 4rem;
    align-items: center;

    .work_card {
      width: 100%;
      position: absolute;
      inset: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .item_info {
        position: relative;
        flex: 1;
        z-index: 2;
        padding: 4rem 0rem;
        gap: 0.5rem;
        overflow: hidden;
        display: flex;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mq.response(md) {
          gap: 1rem;

          @include mq.response(lg) {
            gap: 1.5rem;
          }
        }

        .work_title {
          display: block;
          font-size: 1.5rem;
          position: relative;
          color: var(--color-text);
          font-weight: 700;

          @include mq.response(xs) {
            font-size: 1.75rem;

            @include mq.response(sm) {
              font-size: 2rem;
            }
          }
        }

        .work_desc {
          display: block;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: start;
          border-radius: 3px;
          font-weight: 300;
          padding: 0.5rem;
          backdrop-filter: blur(5px);
          color: var(--color-text);
          background-color: rgba(255, 255, 255, 0);
          background-image: linear-gradient(
            -225deg,
            #ac32e444 0%,
            #7a18f23d 48%,
            #4901ff48 100%
          );

          @include mq.response(sm) {
            width: 85%;
            padding: 1rem;

            @include mq.response(lg) {
              width: 70%;
              padding: 1rem 2rem;
            }
          }
        }

        .work_links {
          display: flex;
          margin: 0.5rem 0;
          color: var(--color-text);
          justify-content: center;
          align-items: center;

          > a {
            margin: 0 0.5rem;
            cursor: pointer;
            > svg {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }

        .work_techs {
          display: flex;
          justify-content: center;
          color: var(--color-text);
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          font-weight: 300;
          font-size: 0.75rem;
          align-items: center;

          @include mq.response(xs) {
            font-size: 0.85rem;

            @include mq.response(sm) {
              font-size: 0.85rem;
              background-color: var(--color-work_desktop);
              padding: 1rem;
              border-radius: 3px;
              backdrop-filter: blur(2px);
            }
          }
        }

        .item_image_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          z-index: -1;
          height: 100%;
          overflow: hidden;
          position: relative;

          @include mq.response(xs) {
            width: 85%;

            @include mq.response(sm) {
              width: 100%;
              position: absolute;
              inset: 0;

              @include mq.response(md) {
                width: 110%;
              }
            }
          }

          > img {
            object-fit: cover;
            display: block;
            overflow: hidden;
            height: auto;
            width: 100%;
            filter: contrast(100%) saturate(0);
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;

            @include mq.response(sm) {
              width: 150%;
            }
          }
        }
        .item_image_wrapper:after {
          content: '';
          width: 100%;
          inset: 0;
          height: 100%;
          display: block;
          position: absolute;

          background-color: var(--color-work_mobile);

          @include mq.response(sm) {
            background-color: var(--color-work_desktop);
            backdrop-filter: blur(2px);
          }
        }
      }
    }
  }

  .works_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    width: 100%;

    .card_arrow {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 0rem;
      overflow: hidden;
      gap: 0.5rem;

      .dot::after {
        content: '';
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: rgb(149, 103, 255);
        display: block;
        position: relative;
        transition: all 300ms ease-in-out;
      }

      .active_dot::after {
        border-radius: 10px;
        width: 2rem;
        transition: all 300ms ease-in-out;
      }
    }

    > a {
      align-self: flex-start;
      color: #815bbe;
      transition: all 200ms ease-in-out;
      &:hover {
        color: rgb(0, 69, 158);
        transition: all 200ms ease-in-out;
      }
    }
  }
}
