@use "../../styles/_section_title" as g;

.works_container {
  @include g.section-title("Works");

  .works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 4rem;
  }

  > a {
    color: #7446be;
    transition: all 500ms ease-in-out;
    &:hover {
      color: rgb(0, 69, 158);
      transition: all 500ms ease-in-out;
    }
  }
}
