@use "../../styles/_section_title" as g;
@use "../../styles/media_query" as mq;

.works_container {
  @include g.section-title("Works");

  @include mq.response(sm) {
    min-height: 100vh;
  }

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 3rem 0rem;
    width: 100%;
    gap: 4rem;
  }

  > a {
    color: #7446be;
    transition: all 500ms ease-in-out;
    &:hover {
      color: rgb(0, 69, 158);
      transition: all 500ms ease-in-out;
    }
  }
}
