.toggle_sidebar_button {
  outline: none;
  border: none;
  stroke: var(--color-text);
  fill: transparent;
  background-color: transparent;
  justify-content: center;
  z-index: 6;
  align-items: center;
  align-self: center;
  cursor: pointer;
  display: flex;
}
