.navbar_wrapper {
  display: flex;
  position: fixed;
  bottom: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  z-index: 5;
  right: 20px;
  color: rgb(184, 184, 184);
  width: 70px;
  .navbar {
    display: flex;
    list-style: none;
    position: relative;
    justify-content: center;
    font-size: 1rem;
    writing-mode: vertical-lr;
    gap: 50px;
    padding: 0;
    align-items: center;
    /* flex-direction: column; */

    li:hover {
      color: teal;
      transition: all 500ms ease-in-out;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .navbar::after {
    content: "";
    width: 1px;
    height: 12rem;
    display: block;
    position: fixed;
    right: 3.5rem;
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(60, 60, 60);
  }
}
