@use "../../styles/_media_query.scss" as mq;

.navbar_container {
  display: none;
  position: fixed;
  bottom: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  z-index: 5;
  right: 20px;
  color: rgb(145, 143, 143);
  width: 70px;
  .navbar_wrapper {
    display: flex;
    list-style: none;
    position: relative;
    justify-content: center;
    font-size: 1rem;
    gap: 50px;
    padding: 1rem 0;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .navbar_item_arrow {
        position: absolute;
        left: 1.5rem;
        width: 1rem;
        border-radius: 50%;
        height: 1rem;
        background-color: red;
      }
    }

    .navbar_item_active {
      background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      background-clip: text;
      -moz-text-fill-color: transparent;
      white-space: nowrap;
    }
  }

  @include mq.response(sm) {
    display: flex;
  }
}
