@use "../../styles/_media_query.scss" as mq;

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  color: var(--color-text);
  text-align: start;
  z-index: 5;
  width: 100%;
  min-height: 100vh;

  .hero_texts {
    z-index: 4;
    position: relative;
    gap: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;

    .line_1_wrapper {
      margin-right: calc(2rem + (50vw));
      font-size: 2rem;
      font-weight: 200;

      @include mq.response(xs) {
        font-size: 2.5rem;
        margin-right: 20rem;

        @include mq.response(sm) {
          font-size: 2.8rem;

          @include mq.response(md) {
            font-size: 3rem;
            margin-right: 30rem;

            @include mq.response(lg) {
              font-size: 3.2rem;
              margin-right: 37rem;

              @include mq.response(xl) {
                font-size: 3.6rem;
                margin-right: 45rem;
              }
            }
          }
        }
      }

      :nth-child(4) {
        padding-left: 0.4rem;
      }

      .line_1 {
        display: inline-block;
        color: var(--color-text_secondary);
        transition: color 300ms ease-in-out;
      }
    }

    .line_2_wrapper {
      position: relative;

      :nth-child(6) {
        padding-left: 0.5rem;
      }

      .line_2 {
        position: relative;
        font-size: 2.5rem;
        font-weight: 700;
        display: inline-block;
        text-align: center;

        @include mq.response(xs) {
          font-size: 3rem;

          @include mq.response(sm) {
            font-size: 3.4rem;

            @include mq.response(md) {
              font-size: 5rem;

              @include mq.response(lg) {
                font-size: 5.5rem;

                @include mq.response(xl) {
                  font-size: 6rem;
                }
              }
            }
          }
        }
      }

      :nth-child(8)::after {
        position: absolute;
        display: block;
        content: "";
        z-index: -1;
        bottom: 0.2rem;
        left: -1rem;
        width: 7ch;
        height: 40%;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
      }
    }

    .typing_slider_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2rem;

      .typing_slider {
        border-right: 0.35rem solid;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        background-clip: text;
        -moz-text-fill-color: transparent;
        white-space: nowrap;
        position: relative;
        animation: typing 3.5s step-end,
          blink-caret 600ms steps(30, end) infinite;
      }

      > span {
        z-index: 4;
        font-size: 2.2rem;
        color: var(--color-text_secondary);
        transition: color 300ms ease-in-out;
        font-weight: 700;

        @include mq.response(xs) {
          font-size: 2.8rem;

          @include mq.response(sm) {
            font-size: 3rem;

            @include mq.response(md) {
              font-size: 4rem;

              @include mq.response(lg) {
                font-size: 4.5rem;

                @include mq.response(xl) {
                  font-size: 5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    100% {
      border-color: #5e1eff;
    }
  }

  .cv_button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 14rem;
    position: relative;
    transition: all 300ms ease-in-out;
    border-radius: 4px;
    background-color: var(--color-button);
    height: 2.5rem;
    border: 1px solid rgba(119, 83, 248, 0.144);

    &:hover {
      border: 1px solid rgba(119, 83, 248, 0.699);
    }

    > span {
      position: relative;
      width: 1.75rem;
      transition: all 300ms ease-in-out;
      stroke: currentColor;
      color: var(--color-button_text);
      fill: currentColor;
      background-color: var(--color-button);
    }

    > button {
      position: relative;
      outline: none;
      cursor: pointer;
      border: none;
      transition: all 300ms ease-in-out;
      font-weight: 700;
      color: var(--color-button_text);
      background-color: var(--color-button);
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%
      );
      filter: blur(12px);
      opacity: 0;
      transition: opacity 500ms ease-in-out;
      border-radius: 0;
    }
    &:hover::before {
      transition: opacity 500ms ease-in-out;
      opacity: 0.8;
    }
  }

  .arrows {
    z-index: 4;
    position: fixed;
    cursor: pointer;
    bottom: 3rem;
    left: 1.5rem;
  }

  .arrows span {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-bottom: 2px solid var(--color-text);
    border-right: 2px solid var(--color-text);
    transform: rotate(45deg);
    margin: -0.5rem;
    animation: animate 2s infinite;
  }

  .arrows span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrows span:nth-child(3) {
    animation-delay: -0.4s;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
