@use '../../styles/_media_query.scss' as mq;

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;

  .hero_texts {
    z-index: 4;
    position: relative;
    gap: 1.75rem;
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;

    .line_1_wrapper {
      font-size: 2rem;
      font-weight: 200;
      margin-right: calc(2rem + (50vw));

      @include mq.response(xs) {
        width: 80%;
        align-self: center;
        margin-right: 0;
        font-size: 2.5rem;

        @include mq.response(sm) {
          font-size: 2.8rem;

          @include mq.response(md) {
            font-size: 3rem;

            @include mq.response(lg) {
              font-size: 3.2rem;

              @include mq.response(xl) {
                font-size: 3.6rem;
              }
            }
          }
        }
      }

      :nth-child(4) {
        padding-left: 0.4rem;
      }

      .line_1 {
        display: inline-block;
        color: var(--color-text_secondary);
        transition: color 300ms ease-in-out;
      }
    }

    .line_2_wrapper {
      position: relative;

      :nth-child(6) {
        padding-left: 0.5rem;
      }

      .line_2 {
        position: relative;
        font-size: 2.5rem;
        font-weight: 700;
        z-index: 9999999;
        display: inline-block;
        text-align: center;

        @include mq.response(xs) {
          font-size: 3rem;

          @include mq.response(sm) {
            font-size: 3.4rem;

            @include mq.response(md) {
              font-size: 5rem;

              @include mq.response(lg) {
                font-size: 5.5rem;

                @include mq.response(xl) {
                  font-size: 6rem;
                }
              }
            }
          }
        }
      }

      .sliding_gradient {
        position: absolute;
        display: block;
        z-index: -1;
        bottom: 0rem;
        right: -1rem;
        width: 55%;
        height: 40%;
        background-image: linear-gradient(
          -225deg,
          #ac32e4b9 0%,
          #7a18f2a9 48%,
          #4901ff9d 100%
        );
        opacity: 70%;
      }
    }

    .line_3_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 2rem;

      .line_3 {
        background-image: linear-gradient(
          -225deg,
          #ac32e4b0 0%,
          #7a18f2ab 48%,
          #4901ffa9 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        background-clip: text;
        -moz-text-fill-color: transparent;
        white-space: nowrap;
        position: relative;
      }

      > span {
        z-index: 4;
        font-size: 2rem;
        color: var(--color-text_secondary);
        transition: color 300ms ease-in-out;
        font-weight: 600;

        @include mq.response(xs) {
          font-size: 2.8rem;

          @include mq.response(sm) {
            font-size: 3rem;

            @include mq.response(md) {
              font-size: 4rem;

              @include mq.response(lg) {
                font-size: 4.5rem;

                @include mq.response(xl) {
                  font-size: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .cv_button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9rem;
    position: relative;
    transition: all 300ms ease-in-out;
    border-radius: 4px;
    background-color: var(--color-button);
    height: 2.2rem;
    border: 1px solid rgba(119, 83, 248, 0.144);
    transition: all 300ms ease-in-out;

    &:hover {
      border: 1px solid rgba(119, 83, 248, 0.699);
    }

    > span {
      position: relative;
      width: 1.5rem;
      transition: all 300ms ease-in-out;
      stroke: currentColor;
      z-index: 2;
      color: var(--color-button_text);
      fill: currentColor;
      background-color: var(--color-button);
    }

    > button {
      position: relative;
      outline: none;
      z-index: 2;
      cursor: pointer;
      border: none;
      transition: all 300ms ease-in-out;
      font-weight: 700;
      font-size: 0.85rem;
      color: var(--color-button_text);
      background-color: var(--color-button);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -99999;
      background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%
      );
      filter: blur(12px);
      opacity: 0;
      transition: opacity 500ms ease-in-out;
      border-radius: 0;
    }
    &:hover::before {
      transition: opacity 500ms ease-in-out;
      opacity: 0.8;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      transition: all 300ms ease-in-out;
      border-radius: 4px;
      background-color: var(--color-button);
      border: 1px solid rgba(119, 83, 248, 0);
    }
  }
}
