@use "../../styles/_section_title" as g;
@use "../../styles/media_query" as mq;

.skills_container {
  @include g.section-title("Skills");

  @include mq.response(sm) {
    min-height: 100vh;
  }

  .skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .custom_color_svg {
      fill: var(--color-svg);
    }
  }

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .skill_item {
    display: block;
    transition: all 500ms ease-in-out;
    opacity: 0.5;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;

    @include mq.response(sm) {
      width: 4.5rem;
      height: 3.75rem;
      @include mq.response(md) {
        width: 4.8rem;
        height: 3.75rem;

        @include mq.response(lg) {
          width: 5rem;
          height: 4rem;
        }
      }
    }
  }

  .skill_item:hover {
    opacity: 1;
    scale: 1.1;
  }
}
