@use "../../styles/_section_title" as g;

.skills_container {
  @include g.section-title("Skills");

  .skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .skill_item {
    display: block;
    transition: all 500ms ease-in-out;
    opacity: 0.5;
    width: 3rem;
    font-weight: bold;
    position: relative;
  }

  .skill_item:hover {
    opacity: 1;
    scale: 1.1;
  }
}
