@use "../../../styles/_media_query.scss" as mq;

.sidebar_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  background: var(--color-button);
}

.sidebar_items {
  position: relative;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;

  > li {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.75rem;
    cursor: pointer;
    justify-content: center;
    text-align: center;

    @include mq.response(xs) {
      font-size: 2rem;

      @include mq.response(sm) {
        font-size: 2.2rem;
      }
    }

    .sliding_gradient {
      position: absolute;
      display: block;
      align-self: center;
      top: 2.2rem;
      border-radius: 10px;
      width: 6rem;
      height: 0.3rem;
      background-image: linear-gradient(
        -225deg,
        #5932e4 0%,
        #5218f2 48%,
        #4801ff 100%
      );

      @include mq.response(xs) {
        top: 2.8rem;
        width: 6.5rem;
        height: 0.3rem;

        @include mq.response(sm) {
          top: 3rem;
          width: 7rem;
          height: 0.3rem;
        }
      }
    }
  }
}
