.single_item {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row-reverse;
  cursor: pointer;
  align-items: flex-start;
  width: 100%;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 10px;
  padding: 0.8rem;

  .item_info {
    display: flex;
    position: absolute;
    left: 0.8rem;
    padding-right: 25px;
    top: 0.8rem;
    bottom: 0.8rem;
    width: 60%;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    > :nth-child(1) {
      font-size: 1.5rem;
      width: 100%;
      font-weight: 700;
    }

    > svg {
      stroke-width: 4px;
      stroke-linecap: round;
      fill: transparent;
    }

    :nth-child(5) {
      gap: 10px;
      font-weight: 100;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .item_image_wrapper {
    width: 100%;
    z-index: 6;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    height: auto;
    > img {
      object-fit: cover;
      border-radius: 10px;
      filter: grayscale(100%) blur(3px);
      z-index: 3;

      width: 100%;
      border: none;
      position: relative;
      height: auto;
    }
    > button {
      z-index: 99;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item_image_wrapper::before {
    content: "";
    z-index: 6;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      40deg,
      #aa4290 -10%,
      rgb(96, 30, 202) 50%,
      #868afa 100%
    );
    transform: translate3d(0px, 1px, 0) scale(1.1);
    filter: blur(35px);
    opacity: 0.7;
    transition: opacity 0.3s;
    border-radius: inherit;
  }
  .item_image_wrapper:hover::before {
    opacity: 0;
  }
}
