@use "../../styles/_section_title" as g;
@use "../../styles/_media_query.scss" as mq;

.contact_container {
  @include g.section-title("Contact");

  .contact_wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    margin: 0rem 0 0 0;
    z-index: 5;
    line-height: 1.5rem;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    > span {
      @include mq.response(sm) {
        font-size: 1.1rem;

        @include mq.response(md) {
          width: 80%;

          @include mq.response(xl) {
            width: 70%;
          }
        }
      }
    }

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9rem;
      position: relative;
      font-size: 1rem;
      transition: all 300ms ease-in-out;
      border-radius: 4px;
      color: var(--color-button_text);
      background-color: var(--color-button);
      height: 2rem;
      border: 1px solid rgba(119, 83, 248, 0.144);

      &:hover {
        border: 1px solid rgba(119, 83, 248, 0.699);
      }

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
        filter: blur(12px);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        border-radius: 0;
      }
      &:hover::before {
        transition: opacity 500ms ease-in-out;
        opacity: 0.8;
      }
    }
  }
}
