@use "../../styles/_section_title" as g;

.contact_container {
  @include g.section-title("Contact");

  .contact {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }
}
