@use '../../../styles/_media_query.scss' as mq;

.header_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 3rem;
  justify-content: space-between;
  background-color: var(--color-background);
  align-items: center;
  padding: 0rem 1rem;
  width: 100%;

  @include mq.response(xs) {
    padding: 1rem 2rem;

    @include mq.response(sm) {
      padding: 0rem 6rem;
      height: 5rem;
    }
  }

  .right_side {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq.response(sm) {
      > :nth-child(2) {
        display: none;
      }
    }
  }
}
