@use '../styles/media_query' as mq;

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: hidden;
  width: 100%;
  padding: 0 0.5rem;
  color: var(--color-text);

  @include mq.response(xs) {
    padding: 0 2rem;

    @include mq.response(sm) {
      padding: 0 6rem;

      @include mq.response(md) {
        padding: 0 10rem;

        @include mq.response(lg) {
          padding: 0 12rem;

          @include mq.response(xl) {
            padding: 0 15rem;
          }
        }
      }
    }
  }
}

.title {
  font-size: 10rem;
}
