.about_container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: aliceblue;
  height: calc(100vh - 120px);

  .about_me {
    z-index: 1;
    overflow: hidden;
    font-size: 2rem;
  }
}
